table {
    font-family: 'Nunito', sans-serif;
    overflow: auto;
    width: 100%;
    height: 15%;
  }

th {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding: 8px;
  font-size: 16px;
}

tr {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

td  {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding: 8px;
  font-size: 14px;
}

.getEternalHeader{
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.getEternalHeaderM{
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
}


.credits{
  text-align: right;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.credits1{
  text-justify: auto;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.disclaimer{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.disclaimer1{
  text-justify: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.purp{
  color: #9932CC;
}

.gray {
  color: #b7b7b7
}

.easy-green{
  color: green;
  font-weight: 700;
}

.medium-yellow{
  color: gold;
  font-weight: 700;
}
.moderate-orange{
  color: orange;
  font-weight: 700;
}
.hard-red{
  color: red;
  font-weight: 700;
}
.rough-black{
  color: black;
  font-weight: 700;
}

.text-left{
  text-align: right;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.text-left-M{
  text-align: left;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.text-right{
  text-align: left;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #512979;
}

.text-small{
  text-align: left;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #0dcaf0;
  font-size: 10px
}

.text-center{
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.btn-custom{
  background-color: #3f9ad6 !important;
  color: white !important;
  width: 100%;
}

.input-group-text{
  width: 80% !important;
}

.text-size-14{
  font-size: 12px !important;
}

.stretch{
  width: 100%;
  border-radius: 0.25rem;
  border-color: #3f9ad6 !important;
  color: #3f9ad6 !important;
}

.center-align{
  margin-left: auto;
  margin-right: auto;
}

.text-right1{
  text-align: left;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #512979;
}

.width90{
  
  width: 90%;
}

@media screen and (max-width:767px) {
  .mobile-margin {
    margin-top: 4px;
    margin-bottom: 2px;
    width:100%;
  }
  .input-group-text{
    width: 100% !important;
  }
  table {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 15%;
  }

  th {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    width: 100% !important;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 14px;
  }

  tr {
    font-family: 'Nunito', sans-serif;
    text-align: center;
  }

  td  {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 2px;
    font-size: 12px;
  }
  }

.overflow{
  overflow-x:auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}